
/* cart.css */

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@font-face {
  font-family: "Apfel Grotezk";
  src: url("../assets/ApfelGrotezk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px 20px 70px;
  width: 78%;
}

.title {
  color: #f47d4a;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: "Alata", sans-serif;
  margin: 0;
  font-weight: 400;
  letter-spacing: -2px;
}

.title::after {
  border: 0px;
}

.items-count {
  color: #515062;
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  margin: 0;
}

.container-page {
  background-color: #e1e5e1;
}

.cart-container {
  display: flex;
  flex-direction: row;
}

.cart-container .cart-left {
  width: 70%;
  height: auto !important;
  padding: 3em 0 2em 0;
  background-color: #f2f7f2;
}

.cart-container .cart-right {
  width: 30%;
  height: auto !important;
  padding: 2em;
  background: #676562;
  color: #fff;
  font-family: "Alata";
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cart-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline-start: 5em;
  margin-top: 1em;
  width: 100%;
}

.cart-cart input {
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  color: #5e5b58;
}

.cart-cart .cart-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-header-item {
  display: flex;
  flex-direction: row;
  color: #515062;
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-weight: 600;
}

.cart-header-item .header-item-cart {
  margin-inline-end: 18.5em;
  margin-inline-start: 6em;
}

.cart-header-item div {
  margin-inline-end: 6.7em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  justify-content: start;
}

.row-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #d9d9d9;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  padding: 1em;
}

.col-left {
  margin-inline: 1em;
}

.chooseColor {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: inline-block;
  box-sizing: border-box;
}

.clicked {
  border: 3px solid #000000;
}

.quantity {
  background-color: #ffff;
  border: 3px solid #515062;
  color: #515062;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  padding: 0.1em;
}

.number {
  font-size: 18px;
  padding-inline: 1.5em;
}

.sub,
.add {
  font-size: 18px;
  cursor: pointer;
}

.remove-col {
  margin-left: 1em;
}

.remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #515062;
}

.remove-btn:hover {
  transform: translateX(2px);
  font-size: 1.5em;
}

.free-shipping-text {
  color: #5e5b58;
  font-family: "Alata", sans-serif;
  margin-inline: 2em;
  margin-top: 1em;
  margin-bottom: 0;
}

.summary-text {
  font-size: 2em;
  margin-bottom: 1.2em;
}

.cart-right .col-right {
  display: flex;
  flex-direction: column;
}

.row-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 3.5em;
  font-size: 1em;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  margin: 1em 2em;
}

.promocode {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

.promocode div {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.promocode-input {
  border-radius: 7px;
  background: #d9d9d9;
  padding: 10px;
  color: #5e5b58;
  width: 70%;
  margin: 10px 0;
}

.promocode-btn {
  border-radius: 20px;
  background: #ff7e48;
  color: #fff;
  font-size: 0.9em;
  padding: 10px 20px 13px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width:fit-content;
}

.btn-payment {
    background: #1E1E1E;
  padding: 1em;
  padding-inline: 1.5em;
  border: 1px solid transparent;
  border-radius: 1px;
  color: #fff;
  width: 100%;
  margin-top: 1.5em;
  cursor: pointer;
  font-family: 'Alata';
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.7px;
  transition: transform 0.2s ease-in-out;
}

.btn-payment:hover {
  color: #1E1E1E;
  background: #fff;
}
.divider {
    margin: 3rem 0;
    display: flex;
    align-items: center;
  }
  
  .divider hr {
    flex-grow: 0.5;
    border: none;
    border-top: 2px solid #e5e5e5;
  }
  
  .divider-text {
    padding: 0 1em;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .continue-shopping-text {
    text-align: center;
    font-size: 1rem;
    margin: 2rem 0;
    letter-spacing: 0.8px;
  }
  

/* tab view */
@media (min-width: 600px) and (max-width: 1200px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-container .cart-left {
    width: 100%;
  }

  .cart-container .cart-right {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

/* mobile view */
@media screen and (max-width: 599px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-container .cart-left {
    width: 100%;
    padding-top: 3em;
  }

  .cart-container .cart-right {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .address-add {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

