.Privacy-container{
    padding: 20px;
    margin:3.5rem ;
}

.Privacy-title{
    color: #F47D4A;
    font-family: Alata;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.25rem; /* 185.185% */
}

.sub-heading{
    color: #000;
    font-family: Alata;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem; /* 152% */
}

.sub-heading .Date{
    color: #FF7E48;
    font-family: Alata;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
}

.brief{
    color: #000;
    font-family: Alata;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */ 
}