
@font-face{
  font-family:"Integral CF";
  src:url("/src/assets/Fonts/Fontspring-DEMO-integralcf-demibold.otf")
}


@font-face{
  font-family:"Integral CF";
  src:url("/src/assets/Fonts/Fontspring-DEMO-integralcf-demibold.otf")
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}


div {
=======
.footer {
  padding-top: 60px;
} */
/* div {
>>>>>>> 71da2c9fe3ee87d7f2cd1e6f5a096188f3ce4f3a
  margin: 0;
  padding: 0;
} */


